.header {
  width: 100vw;
  border-bottom: none;
  background: rgba(0, 0, 0, 0);
}

.pressableGroup {
  cursor: pointer;
}

.appIcon {
  width: 50px;
  height: 50px;
}

.toggleThemeWrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
}

.lightThemeButton {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2px;
  z-index: 100;
  width: 50%;
  height: 100%;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.darkThemeButton {
  display: flex;
  align-items: center;
  position: relative;
  top: 5px;
  z-index: 100;
  width: 50%;
  height: 100%;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
