
[class^=mantine] {
  color: red;
  font-family: "SF Pro Rounded", "Segoe UI", sans-serif;
  border-radius: 20px
}

.pageWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 20px;
  height: 575px
}
/**
 * CSS code for the page card.
 * 
 * Applies a border radius of 20px to the card.
 * Sets the minimum width to 450px and the minimum height to 300px.
 * Adds a padding of 20px to the card.
 */
.pageCard {
  border-radius: 20px;
  min-width: 450px;
  min-height: 300px;
  padding: 20px;
}
