
[class^=mantine] {
  font-family: "SF Pro Rounded", "Segoe UI", sans-serif;
}

.pageWrapper {
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
}

.pageCard {
  top: 100px;
  margin-top: 125px;
  margin-left: 485px;
  max-height: 75vh;
  overflow: hidden;
  font-family: "SF Pro Rounded", "Segoe UI", sans-serif;
  border-radius: 20px;
  width: 550px;
  min-height: 300px;
  padding: 20px;
}
