.root {
    padding-top: 35px;
}

.inner {
    position: relative;
}

.image {
    position: absolute;
    z-index: 0;
    inset: 0;
    opacity: .9;
    color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-dark-3));
}

.icon {
    position: absolute;
    z-index: 0;
    opacity: 1;
    inset:0;
    100:20px;
    font-size: 650px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    @media (max-width: $mantine-breakpoint-md) {
        font-size: 600px;
    }
    @media (max-width: $mantine-breakpoint-sm) {
        font-size: 300px;
    }
}



.content {
    padding-top: 220px;
    position: relative;
    z-index: 1;
}

.title {
    font-family: "IosevkaTermSlab NFP ExtraBold", monospace;
    color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-dark-0));
    text-align: center;
    font-weight: 900;
    font-size: 4em;
    @media (max-width: $mantine-breakpoint-md) {
        font-size: 3em;
    }
    @media (max-width: $mantine-breakpoint-sm) {
        font-size: 2em;
    }
}

.description {
    z-index: 1;
    color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-yellow-2));
    text-align: center;
    font-size: 1.5em;
    line-height: 1.33;
    font-weight: 800;
    font-family: "Ubuntu Nerd Font Propo Med", monospace;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 275px;
}